/* General */

body {
    background: url(../img/waves.png) fixed;
}

h1, h2, h3, h4, h5, h6, .product .button {
text-rendering: optimizeLegibility;
font-weight: 700;
}


body, h1, h2, h3, h4, h5, .promo h2 em {
font-family: 'freight-sans-pro',sans-serif !important;
}

a, a:visited {
color: #71AFC4
}

a:hover,
:focus,
li:hover,
img:hover,
input:hover {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}


header {
    background: #dde4e7 url(../img/bg_top.png) fixed;
    padding: 0 6%;
    text-align: center;
}

header .row {
    padding-bottom:100px;
}

header .tabs a {
    display:inline-block;
    text-align:center;
    width:300px;
    padding:12px 48px 6px 48px;
    font-size:24px;
    background-color:#e6edf0;
    margin:0 10px;
    border:1px solid #c6d1d6;
    border-bottom:none;
    color:#4C8DAB;
}
header .tabs a:hover {
    background:#fff;
}
header .tabs a.selected {
    background:url(../img/waves.png) fixed;
    color:#fff;
    border:none;
}
header .tabs small {
    display:block;
}

header, .social a, .social a:visited {
        color: #2c3034;
}

header h2 a, header h2 a:visited {
    color: #4C8DAB;
    border-bottom: 3px solid #c6d1d6;
    font-weight: 700;
}

header h2 a:hover, header h2 a:active {
    color: #196A91;
    border-color:#B5C1C7
    }

h1 {
    font-size: 71px;
    font-weight: 900;
    letter-spacing: -.02em;
    margin: 0;
}

.logomark {
    margin-top: 88px
}

h2 {
    font-weight: 500;
    color:#5C6064;
    -webkit-font-smoothing:antialiased;
    font-size: 28px;
    letter-spacing: -.02em;
    margin-top: 13px;
}

ul.social {
    overflow: hidden;
    float: right;
    padding: 0;
    margin-right: 12px;
    }

.social li {
    display: inline-block;
    margin: 10px 0 0 0
}

.social a, .social a:visited {
    color: #7C878D;
    opacity: .8;
}

.social a:hover, .social a:active {
    opacity: 1;
}






/* Products */

.mark-wp {
    display: block;
    margin: 0 auto 5px;
    }

.promo h2 {
    font-size: 2.4em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    }

.promo h2 em {
    color: #8b939c;
    font-size: .75em;
    font-style: italic;
    text-transform: none;
    font-weight: 100;
    }

.theme {
    border-bottom:3px solid #3c4147;
    width:100%;
    max-width:100%;
}

.theme:last-of-type {
    border:none;
}

.product {
    margin-top: 40px;
    padding:46px 0 66px;
    overflow: hidden;

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    max-width: 1280px;
    }

.product:last-of-type {
    border:none;
}

.product h3 {
    color: #fff;
    text-align: center;
    font-size: 1.85em;
    text-transform: uppercase;
    margin:17px 0 2px;
    }

.product .devices {
    float: left;
    }

.product-wrap {
    width:62%;
    }

.product .desc {
    color: #8e959b;
    background: #21252a;
    padding: 18px 34px 34px;
    border-radius: 14px;
    margin-top: 110px;
    display: block;
    }

.product.alt .desc {
    float: left
    }

.product .button, .newsletter .mc-embedded-subscribe {
    background: #207ca7;
    text-align: center;
    padding: 10px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: .75em;
    border-radius: 3px;
    letter-spacing: 1px;
    box-shadow:0 3px 0px 0px #194b63;
    font-weight: 500;
    border:none;
    }

.product .button {
    margin: 19px auto 0;
    width:60%;
    display: block;
}

.product .desc:hover {
    background-color: rgba(32,37,42,.4);
    }

.product .desc:hover .button,
.newsletter .mc-embedded-subscribe:hover {
    background: #268ebe;
    }

.newsletter .mc-embedded-subscribe {
    float:right;
    margin:6px 2px 0 0;
}

.product .price {
    background: #5ab92e;
    color: #fff;
    width:34px;
    height: 34px;
    line-height: 29px;
    text-align: center;
    position: absolute;
    border-radius: 100em;
    right:35px;
    font-size: .9em;
    font-weight: 600;
    }


/*Newsletter*/

.newsletter {
    padding: 15px 0 15px 140px;
}

.newsletter form {
    width: 700px;
    padding: 12px 0 12px 125px;
    background: url(../img/envelope.png) 1px 16px no-repeat;
    margin: 0 auto 0 125px;
    clear:both;
}

.newsletter form label {
    font-size: 1.6em;
    float: left;
    margin-bottom: 7px
}

#newsletter-footer .mce-wrap {
    clear: both;
}

.newsletter .mce-wrap {
    padding: 2px 5px 2px;
    border-radius: 4px;
    font-size: 1.2em;
    border: none;
    background: #fff;
    text-align: left;
    overflow: hidden;
}

    .newsletter .email {
    padding: 9px 0 0 9px;
    width: 419px;
    border: none;
    font-size: 1.1em;
    color: #111;
}

.newsletter input[type=email], .newsletter input[type=email]:focus {
    display: inline;
    border:none;
    outline:none;
    box-shadow: none;
    background: #fff;
}

.newsletter label {
    color: #fff;
}

.newsletter .mc-embedded-subscribe {
    padding:10px 32px;
    font-size: .6em;
}


/* Footer */

footer .pos {
    position: absolute
    }

.origin {
    width:815px;
    position: absolute;
    }

.map h5 {
    color: #EC9F85;
    text-transform: uppercase
}

.map h4 {
    font-size: 2.2em;
    color: #fff;
}

#blurb-darren {
    width: 200px;
    top: 242px;
    left: 28%;
}

#ava-darren,
#ava-ben {
    position:absolute;
    top: 0;
    left: -95px;
}

#blurb-ben {
    width: 300px;
    top: 168px;
    left: 52%;
}

.avatar {
    width:75px;
    height: 75px;
    border-radius: 50%;
    border: 6px solid #48555f
}

.location {
    font-size: .7em;
    color: #bfc7cc;
    margin: -6px 0 11px;
    text-transform: uppercase;
}

.map {
    background: url(../img/map.png) no-repeat center -50px;
    height: 726px;
    position: relative;
    padding: 0 20px;
}

footer {
    margin-top: 60px;
    background: rgba(10,10,10,.3);
    padding: 60px 0;
    color:#8e959b;
}

.copyright {
    margin-top: 32px;
    text-align: center
}

footer a:hover, footer a:active {
    color: #8AD2EA;
    }

footer .fa-stack-1x, .fa-stack-2x {
    }


/*
// =======================================================================
// < 1250px
// =======================================================================
*/

@media screen and (max-width: 1000px) {

    h1 {
        font-size: 50px;
        }

    h2 {
        font-weight: 500;
        font-size: 25px;
        }

    .logomark {
        margin-top: 74px;
        }

    header .tabs a {
        width:auto;
        padding-left:20px;
        padding-right:20px;
        font-size:20px;
        margin:0 2px;
    }

    .product img {
        margin:0 auto;
        display: block;
        }

    .origin,
    #support-blurb  {
        position: relative;
        width:100%;
        padding:0;
        top:auto;
        left:auto;
        }

    #support-blurb {
        margin:30px 0;
    }

    #blurb-darren,
    #blurb-ben {
        position: relative;
        width:35%;
        margin:0 5% 0 10%;
        top:auto;
        left:auto;
        float:left;
    }

    #newsletter-footer {
        padding: 20px;
        margin-top: 60px;
        clear:both;
    }

    .newsletter {
        padding: 0;
        }

    .newsletter form {
        padding: 0;
        width:auto;
        background: none;
        margin: 0;
        }

    .newsletter form label {
        display: none;
        }

    .newsletter .email {
        width:65%;
        }

    .map h4 {
        font-size: 1.4em;
        margin-bottom: 30px;
        }

    .map {
        background: none;
        height: auto;
        }

    .newsletter .mc-embedded-subscribe {
        width:30%;
        float: right;
        margin-top: 8px;
        }

    .product .desc {
        margin-top: 10px;
        }

    .product {
        padding: 0px 0 66px;
    }

}





/*
// =======================================================================
// < 320px
// =======================================================================
*/

@media screen and (max-width: 320px) {

    h1 {
        font-size: 32px;
        }

    h2 {
        font-size: 16px;
        }

    .logomark {
        margin-top: 24px;
        }

    footer {
        padding-bottom: 0
        }

    .newsletter .mce-wrap {
        font-size: .8em;
        }

    .newsletter .mc-embedded-subscribe {
        padding: 10px;
        }

    .product {
        padding-bottom: 34px
        }

    .product h3 {
        font-size: 1.2em;
        }
}
