<article class="summary">
    <i class="fa fa-money"></i>
    <h2><a href="#">Ways to Make Money With WordPress</a></h2>
    <p>A variety of suggestions on how to earn money from your favorite open source software.</p>
</article>

<article class="summary">
    <i class="fa fa-money"></i>
    <h2><a href="#">Ways to Make Money With WordPress</a></h2>
    <p>A variety of suggestions on how to earn money from your favorite open source software.</p>
</article>

<article class="summary">
    <i class="fa fa-money"></i>
    <h2><a href="#">Ways to Make Money With WordPress</a></h2>
    <p>A variety of suggestions on how to earn money from your favorite open source software.</p>
</article>

