<div class="block-wrapper">
    <div class="block">
        <div class="content">
            <i class="fa fa-home icon"></i>
            <h3>Custom Front Page</h3>
            <p>Change the design of your front page to make it exactly as you want.</p>
        </div>
    </div>
    <div class="block">
        <div class="content">
            <i class="fa fa-home icon"></i>
            <h3>Custom Front Page</h3>
            <p>Change the design of your front page to make it exactly as you want.</p>
        </div>
    </div>
    <div class="block">
        <div class="content">
            <i class="fa fa-home icon"></i>
            <h3>Custom Front Page</h3>
            <p>Change the design of your front page to make it exactly as you want.</p>
        </div>
    </div>
</div>
