<div class="block-wrapper">

    <div class="block showcase-website">
        <a href="#" class="image">
            <img src="<?php echo image_path( 'docs/puzzle-layout-3.png' ); ?>" alt="sample" />
        </a>
        <div class="meta">
            <h3>
                <a href="#">Title</a>
            </h3>
            <p>Description here</p>
        </div>
    </div>
    <div class="block showcase-website">
        <a href="#" class="image">
            <img src="<?php echo image_path( 'docs/puzzle-layout-3.png' ); ?>" alt="sample" />
        </a>
        <div class="meta">
            <h3>
                <a href="#">Title</a>
            </h3>
            <p>Description here</p>
        </div>
    </div>
    <div class="block showcase-website">
        <a href="#" class="image">
            <img src="<?php echo image_path( 'docs/puzzle-layout-3.png' ); ?>" alt="sample" />
        </a>
        <div class="meta">
            <h3>
                <a href="#">Title</a>
            </h3>
            <p>Description here</p>
        </div>
    </div>

</div>
