<div class="block-wrapper">

    <div class="block showcase-website">
        <img src="<?php echo image_path( 'docs/puzzle-layout-3.png' ); ?>" alt="sample" class="image" />
        <div class="meta">
            <h3>5 Column Grid</h3>
        </div>
    </div>
    <div class="block showcase-website">
        <img src="<?php echo image_path( 'docs/puzzle-layout-3.png' ); ?>" alt="sample" class="image" />
        <div class="meta">
            <h3>5 Column Grid</h3>
        </div>
    </div>
    <div class="block showcase-website">
        <img src="<?php echo image_path( 'docs/puzzle-layout-3.png' ); ?>" alt="sample" class="image" />
        <div class="meta">
            <h3>5 Column Grid</h3>
        </div>
    </div>

</div>
