<div class="block big alt">
    <header>
        <a href="#">
            <img src="<?php echo image_path( 'devices/exhibit.png' ); ?>">
        </a>
    </header>
    <section>
        <div class="content">
            <h3>Exhibit</h3>
            <p>Exhibit is the perfect theme for businesses, big and small, to exhibit their work. Acting as both a portfolio and a blog Exhibit allows you to easily show off your projects.</p>
            <a class="button" href="#">
                Demo &amp; Details
            </a>
        </div>
    </section>
</div>
