<div class="block-wrapper">

    <div class="block overlap-header">
        <header>
            <span class="blip price">$10</span>
            <a href="#">
                <img src="<?php echo image_path( 'theme-monitor/puzzle.png' ); ?>" alt="Demo">
            </a>
        </header>
        <div class="content sticky-footer">
            <h3>Puzzle</h3>
            <p>A visually oriented theme, great for photographers and artists who want to tell stories using their images.</p>

            <footer>
                <a class="button" href="#">
                    Demo &amp; Details
                </a>
            </footer>
        </div>
    </div>

    <div class="block overlap-header">
        <header>
            <span class="blip price">$10</span>
            <a href="#">
                <img src="<?php echo image_path( 'theme-monitor/puzzle.png' ); ?>" alt="Demo">
            </a>
        </header>
        <div class="content sticky-footer">
            <h3>Puzzle</h3>
            <p>A visually oriented theme, great for photographers and artists who want to tell stories using their images.</p>

            <footer>
                <a class="button" href="#">
                    Demo &amp; Details
                </a>
            </footer>
        </div>
    </div>

    <div class="block overlap-header">
        <header>
            <span class="blip price">$10</span>
            <a href="#">
                <img src="<?php echo image_path( 'theme-monitor/puzzle.png' ); ?>" alt="Demo">
            </a>
        </header>
        <div class="content sticky-footer">
            <h3>Puzzle</h3>
            <p>A visually oriented theme, great for photographers and artists who want to tell stories using their images.</p>

            <footer>
                <a class="button" href="#">
                    Demo &amp; Details
                </a>
            </footer>
        </div>
    </div>

</div>
