<div class="block-wrapper">

	<div class="block overlap-header tag-hot">

			<header>
				<a href="#" class="screenshot">
					<img src="<?php echo image_path( 'theme-monitor/broadsheet.png' ); ?>" alt="Demo">
				</a>
			</header>

			<div class="content sticky-footer">
				<h3>
					<a href="#">Broadsheet</a>
				</h3>
				<p>A newspaper theme with 3 optional widget areas, featured posts and a huge homepage slider there are lots of options for creating interesting, immersive websites.</p>

				<footer>
					<a class="button greedy" href="#" title="Broadsheet Details" target="">View Theme</a>
				</footer>
			</div>

	</div>

	<div class="block overlap-header tag-new">

			<header>
				<a href="#" class="screenshot">
					<img src="<?php echo image_path( 'theme-monitor/broadsheet.png' ); ?>" alt="Demo">
				</a>
			</header>

			<div class="content sticky-footer">
				<h3>
					<a href="#">Broadsheet</a>
				</h3>
				<p>A newspaper theme with 3 optional widget areas, featured posts and a huge homepage slider there are lots of options for creating interesting, immersive websites.</p>

				<footer>
					<a class="button greedy" href="#" title="Broadsheet Details" target="">View Theme</a>
				</footer>
			</div>

	</div>

	<div class="block overlap-header">

			<header>
				<a href="#" class="screenshot">
					<img src="<?php echo image_path( 'theme-monitor/broadsheet.png' ); ?>" alt="Demo">
				</a>
			</header>

			<div class="content sticky-footer">
				<h3>
					<a href="#">Broadsheet</a>
				</h3>
				<p>A newspaper theme with 3 optional widget areas, featured posts and a huge homepage slider there are lots of options for creating interesting, immersive websites.</p>

				<footer>
					<a class="button greedy" href="#" title="Broadsheet Details" target="">View Theme</a>
				</footer>
			</div>

	</div>

</div>
