<div class="wrapper block-wrapper">
    <div class="block key-ip-address invert">
        <div class="content">
            <i class="fa fa-map-marker icon"></i>
            <h3>IP Address</h3>
            <p>12.34.56.78</p>
        </div>
    </div>
    <div class="block key-country invert">
        <div class="content">
            <i class="fa fa-globe icon"></i>
            <h3>Country</h3>
            <p>GB : United Kingdom</p>
        </div>
    </div>
    <div class="block key-city invert">
        <div class="content">
            <i class="fa fa-building icon"></i>
            <h3>City</h3>
            <p>London</p>
        </div>
    </div>
</div>
