        <div class="radio-group">
            <label>
                Charity
                <input type="radio" name="client" />
            </label>
            <label>
                Individual
                <input type="radio" name="client" />
            </label>
            <label class="checked">
                Small/ Medium Business
                <input type="radio" name="client" checked />
            </label>
            <label>
                Large Company
                <input type="radio" name="client" />
            </label>
        </div>
