        <nav class="wrapper page-menu">
            <a href="#" class="tag-">Recent</a>
            <a href="#" class="tag-featured selected">Featured</a>
            <a href="#" class="tag-puzzle">Puzzle</a>
            <a href="#" class="tag-monet">Monet</a>
            <a href="#" class="tag-romero">Romero</a>
            <a href="#" class="tag-chronicle">Chronicle</a>
            <a href="#" class="tag-broadsheet">Broadsheet</a>
            <a href="#" class="tag-opti">Opti</a>
        </nav>
