<table>
	<tr>
		<th></th>
		<th class="title">Theme Club</th>
		<th class="title">Lifetime Bundle</th>
	</tr>
	<tr>
		<td class="feature">All Themes</td>
		<td><?php draw_svg( 'app-checkmark' ); ?></td>
		<td><?php draw_svg( 'app-checkmark' ); ?></td>
	</tr>
	<tr>
		<td class="feature">Premium Technical Support</td>
		<td><?php draw_svg( 'app-checkmark' ); ?></td>
		<td><?php draw_svg( 'app-checkmark' ); ?></td>
	</tr>
	<tr>
		<td class="feature">No Subscription Fees</td>
		<td><?php draw_svg( 'app-close' ); ?></i></td>
		<td><?php draw_svg( 'app-checkmark' ); ?></td>
	</tr>
	<tr>
		<td class="feature">Cost</td>
		<td>$149 for 6 months<br />$249 for 1 year</td>
		<td>$499 one time payment</td>
	</tr>
	<tr>
		<td></td>
		<td><a class="gr-button fat button positive greedy" href="#"><?php draw_svg( 'commerce-cart', 'small' ); ?>Join</a></td>
		<td><a class="cm-button fat button positive greedy" href="#"><?php draw_svg( 'commerce-cart', 'small' ); ?>Get the Bundle</a></td>
	</tr>
</table>
