/* Forms */

form {
    .clear;
    margin-bottom: @grid-line-height * @grid-line-height-multiplyer;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=search],
input[type=number],
input.text,
textarea,
.form-select,
input.settings-input {

    padding:(@grid-line-height / 2) (@grid-gutter / 2);
    border: 1px solid @border-grey;
    .box-shadow( inset 0 1px 2px rgba(0,0,0,0.05) );
    margin-bottom:(@grid-line-height * @grid-line-height-multiplyer);
    max-width:100%;
    line-height:@grid-line-height;
    min-height:@grid-line-height;
    width:300px;
    border-radius:@border-radius;
    background:@canvas-grey-1;

    &:focus {
        outline-color:@canvas-color;
        border-color:@canvas-color;
        background:@canvas-white;
    }

    &.long-text {
        width:500px;
    }

    &.short-text {
        width: 100px;
    }

    &.squashy {
        margin-bottom:0;
    }
}

textarea {
    width:100%;
    min-height:(@grid-line-height * 10);
    margin-bottom:(@grid-line-height * @grid-line-height-multiplyer);

    &.small {
        min-height:(@grid-line-height * 5);
    }
}

input {
    margin-bottom:@grid-line-height;

    &[type=radio] {
        margin-right:@menu-link-padding;
    }
}

.radio-group {

    margin-bottom: @grid-line-height * @grid-line-height-multiplyer;

    label {
        display:inline-block;
        background:rgba(0,0,0,0.3);
        padding: (@grid-line-height / 2) (@grid-gutter / 2);
        border-radius:@border-radius;
        .transition;

        &:hover,
        &.checked {
            background:@canvas-green;
            color:@canvas-white;
        }
    }

    input[type="radio"] {
        display: none;
    }

}


// generic styles for select boxes
.form-select {

    padding: 0;
    position: relative;
    display: inline-block;

    select {

        display: block;
        padding: ( @grid-line-height / 2 ) ( @grid-gutter / 2 );
        background: transparent;
        border: 0;
        width: 100%;
        line-height: inherit;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin:0;

    }

    &:after {

        .arrow;
        width: 0;
        position: absolute;
        top: 42%;
        right: @grid-gutter / 3;
        border-top-color: @canvas-grey-90;
        border-bottom-width: 0;

    }

}


textarea.error,
input.error {
    border-color:@canvas-orange;
    margin:0;
}

label {
    display:block;
    .modular-scale( @zeta );
    letter-spacing:0.05em;

    span {
        display:block;
        margin-bottom:@grid-line-height / 2;
        text-transform:uppercase;
        letter-spacing:0.05em;

        &.question {
            .modular-scale( @delta );
            text-transform: none;
        }
    }

    &.error {
        color:@canvas-orange;
        margin-bottom:@grid-line-height;
    }

    em {
        color:@canvas-grey-20;
    }

    &:hover {
        cursor:pointer;
    }

    p.hint {
        margin-top: -1 * @grid-line-height;
        text-transform: none;
        opacity:0.5;
        .transition;
    }

    &:hover {

        p.hint {
            opacity:1;
        }
    }
}

legend {
    padding:0 (@grid-gutter / 2);
    text-transform:uppercase;
    .modular-scale( @eta );
    font-weight:bold;
}

fieldset {
    border:1px solid @canvas-grey-10;
    border-radius:@border-radius;
    padding: (@grid-line-height * 2) ( @grid-gutter / 1 );
    .box-border;

    ul.radio {
        margin:0;
    }
}
