@grid-total-width: 1140px;
@grid-columns: 12;
@grid-gutter: 40px;
@grid-line-height: 1rem;
@grid-line-height-multiplyer: 1;

@grid-column-width: ( ( @grid-total-width + @grid-gutter ) / @grid-columns );

.grid-row( @columns:@grid-columns, @padding:@grid-gutter ) {
	display: block;
	max-width: @grid-total-width + @padding;
	margin:0 auto;
	position:relative;
	.clear();
}

.grid-column( @columns:@grid-columns, @padding:@grid-gutter, @columns-total:@grid-columns ) when ( @padding = "" ) {
	.grid-column-common( @columns, @columns-total );
}

.grid-column( @columns:@grid-columns, @padding:@grid-gutter, @columns-total:@grid-columns ) when not ( @padding = "" ) {
	padding: 0 ( @padding / 2 );
	.grid-column-common( @columns, @columns-total );
}

.grid-column-common( @columns:@grid-columns, @columns-total:@grid-columns ) {
	width: ( ( @columns / @columns-total ) * 100% );
	.box-border;
	float: left;
	min-height:1px;
}

.grid-push( @offset:1 ) {
	margin-left: ( 100% / @grid-columns ) * @offset;
}

.grid-pull( @offset:1 ) {
	margin-right: ( 100% / @grid-columns ) * @offset;
}