
.button {

	@include button();

	.icon {

		margin-right: $style-spacing;

		&.end {

			margin-right: 0;
			margin-left: $style-spacing;

		}

		&.solo {

			margin: 0;

		}

	}

	&:active {

		box-shadow: inset 0 $border-width 0 0 rgba( 0, 0, 0, 0.3 );
		background: darken( $canvas-blue, 16% );

	}

	&.disabled {

		color: lighten( $canvas-color, 25% );

	}

	&.end {

	}

	&.fat {

		@include modular-scale( epsilon );

	}

	&.greedy {

		width: 100%;
		display: block;
		margin-bottom: $grid-line-height / 2;

	}

	&.small {

		padding: 0 ( $grid-gutter / 4 );
		line-height: $grid-line-height * 1.5;

	}

	&.positive {

		background: $canvas-green;

		&:hover {

			background: darken( $canvas-green, 8% );

		}

		&:active {

			background: darken( $canvas-green, 16% );

		}

		&.disabled {

			color: lighten( $canvas-green, 25% );

		}

	}

	&.minor {

		background: $canvas-grey-20;
		color: contrast( $canvas-grey-20 );

		&:hover {

			background: $canvas-grey-40;
			color: contrast( $canvas-grey-40 );

		}

	}

	&.ghost {

		background: transparent;
		box-shadow: none;
		opacity: $style-opacity-element;
		color: $body-copy-color;

		&:hover,
		&:active {

			color: $body-copy-color;
			background: transparent;
			opacity: 1;

		}

		&.disabled {

			color: $body-copy-color;

		}

	}

}
