.close-button {

	color: $body-copy-color;
	background: $canvas-white;
	border-radius: 2rem;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	position: absolute;
	padding: 0;
	box-shadow: none;
	right: $grid-gutter;
	border: none;
	top: -0.5 * $grid-line-height;
	vertical-align: middle;

	&:hover {

		text-decoration: none;
		background: $body-copy-color;
		color: $canvas-white;

	}

}
