.group {

	margin-bottom: $grid-line-height * $grid-line-height-multiplier;

	p {

		font-weight: normal;
		max-width: 28rem;
		display: block;
		margin-left: 0;
		margin-right: 0;

	}

}

label {

	display:block;
	@include modular-scale( zeta );

	span {

		display: block;
		margin-bottom: $grid-line-height / 2;
		@include post-meta-data;

		&.question {

			@include modular-scale( delta );
			text-transform: none;

		}

	}

	&.error {

		color: $canvas-orange;
		margin-bottom: $grid-line-height;

	}

	em {

		color: $canvas-grey-20;

	}

	input[type="checkbox"] {

		float: left;

	}

	&:hover {

		cursor: pointer;

	}

	p.hint {

		margin-top: -0.5 * $grid-line-height;
		text-transform: none;
		opacity: 0.8;
		@include transition;

	}

	&:hover {

		p.hint {
			opacity:1;
		}

	}

}

.radio-group {

	margin-bottom: $grid-line-height * $grid-line-height-multiplier;
	display: flex;
	background: $block-background;
	border-radius: $border-radius;
	overflow:hidden;

	label {

		flex-grow: 1;
		padding: ( $grid-line-height / 2 ) ( $grid-gutter / 2 );
		margin-bottom: 0;
		text-align: center;
		@include transition;

		&:hover,
		&.checked {

			background: $canvas-green;
			color: $canvas-white;
		}

		@include for-tablet {

			padding: 0.5rem;

		}

	}

	input[type="radio"] {

		display: none;

	}

}
