.overlay {

	background: $canvas-white;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 10;
	opacity: 0;
	@include transition;
	visibility: hidden;

}

.overlay-display {

	overflow: hidden;

	.overlay {

		opacity: 0.7;
		visibility: visible;

	}

}

.modal-wrapper {

	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow: auto;
	pointer-events: none;
	z-index: 100;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	h2 {

		margin-bottom: 0;

	}

	.modal {

		background: $canvas-background;
		border-radius: $border-radius;
		box-shadow: $box-shadow;
		max-width: 700px;
		padding: ( $grid-line-height * 2 ) ( $grid-gutter * 2 );
		width: 100%;
		margin:0 auto;
		position:relative;
		pointer-events:auto;
		transform: scale( 0.1 );
		@include transition-easeOutBack( all, 0.4s );

		form {

			margin: 0;

		}

	}

	&.display {

		opacity: 1;
		visibility: visible;

		.modal {

			transform: scale( 1 );

		}

	}

}


@media only screen and (max-width: $responsive-tablet) {

	.modal-wrapper {

		.modal {

			padding: ( $grid-line-height * 2 ) ( $grid-gutter );

		}

	}

}
