.page-menu {

	@include post-meta-data();
	text-align: center;
	margin-bottom: $grid-line-height * 4;

	a {

		padding: ( $grid-line-height / 2 ) ( $grid-gutter / 2 );
		color: $body-header-color;
		@include transition;
		display: inline-block;

		&.selected {

			background: $block-background;
			box-shadow: $box-shadow;

		}

		span,
		small {

			display: block;

		}

	}

}
