.pricing {

	.price-table {

		padding: 0;

		ul {

			margin: 0 0 $grid-line-height ( $grid-gutter / 2 );

		}

		.product {

			background: $canvas-white url( ../../img/website/theme-club-banner-tight.png ) no-repeat;
			background-position: bottom center;
			background-size: contain;
			box-shadow: $box-shadow;
			padding: ( $grid-line-height * 2 ) ( $grid-gutter ) ( $grid-line-height * 4.5 ) ( $grid-gutter );
			margin: $grid-line-height;

			> *:last-child {

				margin-bottom: 0;

			}

		}

		.secure {

			@include post-meta-data( eta );

			svg {

				height: 1.3em;


			}

		}

		.terms {

			text-align: center;

			.sep {

				opacity: 0.2;
				margin: 0 10px;

			}

		}

		.payment-methods {

			text-align: center;
			opacity: 0.7;
			margin-bottom: $grid-line-height / 2;

			img {

				display: inline-block;
				width: $grid-gutter * 1.25;
				margin: 0 0.5em;

			}

		}

		.preview {

			display: none;

		}

	}

	.faq {

		h3 {

			@include modular-scale( epsilon, 1.2 );
			font-weight: bold;
			text-align: left;
			margin: 0;

		}

		p {

			width: 100%;
			margin-left: 0;
			margin-right: 0;

		}

	}

}


@media only screen and ( max-width: $wp-responsive-width-1 ) {

	.pricing .price-table .product {

		margin-left: 0;
		margin-right: 0;

	}

}