.pricing {

	.price-table {

		padding: 0;

		ul {

			margin: 0 0 $grid-line-height ( $grid-gutter / 2 );

		}

		.product {

			background: $canvas-white;
			box-shadow: $box-shadow;
			padding: ( $grid-line-height * 2 ) ( $grid-gutter ) ( $grid-line-height ) ( $grid-gutter );
			margin: $grid-line-height;

			> *:last-child {

				margin-bottom: 0;

			}

		}

		.price {

			position: absolute;
			top: -0.5rem;
			left: -0.5rem;

		}

		.secure {

			@include post-meta-data( eta );

			svg {

				height: 1.3em;


			}

		}

		.terms {

			text-align: center;

			.sep {

				opacity: 0.2;
				margin: 0 10px;

			}

		}

		.payment-methods {

			text-align: center;
			opacity: 0.7;
			margin-bottom: $grid-line-height / 2;

			img {

				display: inline-block;
				width: $grid-gutter * 1.25;
				margin: 0 0.5em;

			}

		}

		.preview {

			display: none;

		}

	}

	.faq {

		h3 {

			@include modular-scale( epsilon );
			font-weight: bold;
			text-align: left;
			margin: 0;

		}

		p {

			width: 100%;
			margin-left: 0;
			margin-right: 0;

		}

	}

}


@media only screen and (max-width: $responsive-tablet) {

	.pricing {

		.screenshot {

			display: none;

		}

	}

}
