.wrapper {

	max-width: $grid-total-width;
	width: 100%;
	margin: 0 auto ( $grid-line-height * 4 ) auto;
	padding-left: $grid-gutter;
	padding-right: $grid-gutter;
	font-weight: lighter;
	@include clear;

	h1, h2, h3, h4, h5, h6 {

		clear: both;

	}

	h1 {

		font-weight: bold;
		margin-bottom: $grid-line-height;

	}

	h2 {

		a {

			color: $link-color;

		}

	}

	.intro {

		@include modular-scale( delta );

	}

	.meta {

		@include post-meta-data();

	}

	article.summary,
	.breadcrumbs,
	ul, ol,
	h1, h2, h3, h4, h5, h6,
	.note,
	form,
	pre,
	p {

		max-width: $grid-total-width * 0.6;
		margin-left: auto;
		margin-right: auto;

	}

	img {

		border-radius: $border-radius;
		display: block;

		&.align-left, &.align-right {

			box-shadow: $box-shadow;

		}

	}

	em {

		font-style: italic;
		font-weight: inherit;

	}

	strong {

		color: $body-header-color;

	}

	li {

		margin-bottom: ( $grid-line-height / 2);

		&:last-of-type {

			margin: 0;

		}

	}

	.align-center,
	.align {

		margin: 0 auto ( $grid-line-height * $grid-line-height-multiplier ) auto;
		clear: both;

	}

	.align-left {

		float: left;
		margin: 0 ( $grid-gutter ) ( $grid-line-height * $grid-line-height-multiplier ) 0;

	}

	.align-right {

		float: right;
		margin:0 0 ( $grid-line-height * $grid-line-height-multiplier ) ( $grid-gutter ) ;

	}

	.youtube,
	.gfycat {

		position: relative;
		padding-bottom: 54%;
		width: 100%;
		margin-bottom: $grid-line-height * $grid-line-height-multiplier;

		iframe {

			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;

		}
	}

	.youtube {

		padding-bottom: 56.2%;

	}

	.tag-list {

		a {

			&:after {

				content: ',';

			}

			&:last-child {

				&:after {

					content: '';

				}

			}

		}

	}

	*:last-child {

		margin-bottom: 0;

	}

}

@media only screen and (max-width: $responsive-tablet) {

	.wrapper {

		padding-left: $grid-gutter / 2;
		padding-right: $grid-gutter / 2;

		.align-left,
		.align-right {

			float: none;
			margin: 0 auto ( $grid-line-height * $grid-line-height-multiplier ) auto;

		}

	}

}
