ul.tree {
    ul {
        list-style-type:none;
        position:relative;

        li {
            position:relative;

            &:before {
                display:block;
                width:0.5em;
                height:0.5em;
                content:'';
                border:1px solid @canvas-light;
                border-width: 0 0 1px 1px;
                position:absolute;
                left:-1em;
                top:0.4em;
            }
        }
    }

    &.alt {
        ul {
            li {
                &:before {
                    border-color:@canvas-dark;
                }
            }
        }
    }
}
