.page-menu {
    text-align:center;
    margin-bottom:@grid-line-height * 4;
    .modular-scale( @zeta );
    text-transform:uppercase;
    letter-spacing:0.1em;

    a {
        padding:(@grid-line-height / 2) (@grid-gutter);
        color: @heading-color;

        &.selected {
            background:@block-background;
            border-radius:@border-radius;
        }
    }
}
