.tabs {
    text-align:center;
    margin-bottom:@grid-line-height * 4;

    a {
        display:inline-block;
        padding:(@grid-line-height / 2) (@grid-gutter * 2);
        .modular-scale( @epsilon );
        color:contrast( @canvas-grey-60 );
        border: 1px solid @canvas-grey-60;
        border-right-width: 0;
        background: @canvas-grey-60;

        small {
            display:block;
            margin:0;
        }

        &.active {
            color:@heading-color;
            background: transparent;

            &:hover {
                color: @heading-color ;
            }
        }

        &:hover {
            color:contrast( @canvas-grey-60 );
        }

        &:first-child {

            border-radius:@border-radius 0 0 @border-radius;

        }

        &:last-child {

            border-radius: 0 @border-radius @border-radius 0;
            border-right-width: 1px;

        }

    }

}
