body {

	background: $canvas-background url( '../../img/website/page-background.svg' ) top no-repeat;
	background-size: contain;

}

a {

	text-decoration: none;
	@include transition;
	color: $link-color;

	&:hover {

		text-decoration: underline;

	}

}
