// @package Granule

// Set element to centered with standard width
@mixin container() {

	width: 100%;
	position: relative;
	max-width: $grid-total-width;
	margin: 0 auto;
	@include clear;

}

// reusable mixin for consistent font styling on meta elements
@mixin post-meta-data( $font-size: zeta ) {

	@include modular-scale( $font-size );
	text-transform: uppercase;
	letter-spacing: $font-uppercase-spacing;
	font-weight: normal;

}

// Jetpack content headings
// includes related posts, sharedaddy and ratings
@mixin jetpack-heading {

	@include post-meta-data();
	font-family: $font-family-sans;
	margin: 0 0 ( $grid-line-height / 2 ) 0;
	display: block;
	font-weight: bold;
	font-style: normal;

}

@mixin button( $color: $canvas-red ) {

	background: $color;
	color: contrast( $color );
	display: inline-block;
	text-decoration: none;
	border-radius: $border-radius;
	border: none;
	font-weight: 500;
	padding: ( $grid-line-height / 2 ) ( $grid-gutter / 2 );
	text-transform: uppercase;
	letter-spacing: $font-uppercase-spacing;
	text-align: center;
	box-shadow: inset 0 -0.3em 0 rgba( 0, 0, 0, 0.15 );
	@include transition;

	&:focus,
	&:hover {

		background: darken( $color, 15% );
		color: contrast( darken( $color, 15% ) );
		text-decoration: none;

	}

}

@mixin separator {

	content: '';
	display: block;
	margin: ( $grid-line-height * 3 ) 0;
	height: $grid-line-height;
	width: 100%;
	clear: both;
	background: url( ../../img/website/divider.svg ) center center no-repeat;

}

@mixin page-background( $image: '../../img/website/page-background.svg' ) {

	background: $canvas-background url( $image ) top left no-repeat;
	background-size: 75%;
	background-attachment: fixed;

}
