
// font overrides
$font-family-sans: 'Poppins', Arial, sans-serif;
$font-family-serif: 'Poppins', serif;
$font-base: 16;
$font-family-body: $font-family-serif;
$font-family-header: $font-family-sans;
//$line-height: 1.6;

// enable/ disable debug features
$debug: false;

// colours
$canvas-white: #ffffff;
$canvas-green: #3fa662;
$canvas-green: darken( #7CD994, 10% );
$canvas-green-dark: saturate( darken( $canvas-green, 20% ), 6% );
$canvas-blue: #268ebe;
$canvas-blue: darken( #92E0EC, 10% );
$canvas-blue-dark: saturate( darken( $canvas-blue, 20% ), 6% );
$canvas-red: #e74c3c;
$canvas-red: #d95626;
$canvas-red-dark: saturate( darken( $canvas-red, 20% ), 6% );
$canvas-purple: #A45FBC;
//$canvas-purple: #EBB2EE;
$canvas-purple-dark: saturate( darken( $canvas-purple, 20% ), 6% );
$canvas-yellow: #F1C40F;
$canvas-yellow: darken( #FFCF57, 10% );
$canvas-yellow-dark: saturate( darken( $canvas-yellow, 20% ), 6% );
$canvas-orange:#E67E22;
$canvas-orange-dark: saturate( darken( $canvas-orange, 20% ), 6% );

$canvas-dark: #21252a;

// greys
$canvas-grey-100: $canvas-dark;
$canvas-grey-90: saturate( lighten( $canvas-grey-100, 10% ), 25% );
$canvas-grey-80: saturate( lighten( $canvas-grey-100, 20% ), 20% );
$canvas-grey-70: saturate( lighten( $canvas-grey-100, 30% ), 15% );
$canvas-grey-60: saturate( lighten( $canvas-grey-100, 40% ), 10% );
$canvas-grey-50: saturate( lighten( $canvas-grey-100, 50% ), 5% );
$canvas-grey-40: lighten( $canvas-grey-100, 60% );
$canvas-grey-30: lighten( $canvas-grey-100, 70% );
$canvas-grey-20: lighten( $canvas-grey-100, 80% );
$canvas-grey-10: lighten( $canvas-grey-100, 90% );
$canvas-grey-5: lighten( $canvas-grey-100, 95% );
$canvas-grey-1: lighten( $canvas-grey-100, 99% );

$body-copy-color: $canvas-grey-100;
$body-header-color: $canvas-grey-100;

$border-width: 0.1em;
$box-shadow: 0 1.5rem 4rem rgba( 0, 0, 0, 0.2 );

// main colour, used through the theme
$canvas-color: $canvas-red;

$canvas-background: $canvas-grey-20;

$form-input-border-color: $body-copy-color;

$link-color: $canvas-blue-dark;

$comments-margin: 4%;

// $body-copy-color: $canvas-grey-60;
// $body-header-color: $canvas-grey-100;


// grid sizes
//$grid-line-height: $line-height * 1rem;
$grid-total-width: 80rem;
$grid-line-height-multiplier: 1.5;
//$grid-gutter: 3em;
//$grid-column-gutter: 1 / 2;

// menu properties
// $menu-link-padding: 1em;
// $menu-parent-link-vertical-padding: 0;
// $menu-dropdown-width: 20em;

// default font sizes
$font-sizes: (
	// giga: ( size: 6.25rem, height: 1 ),
	// mega: ( size: 5rem, height: 1.25 ),
	// alpha: ( size: 4rem, height: 1.25 ),
	// beta: ( size: 3.25rem, height: 1.25 ),
	// gamma: ( size: 2.5rem, height: 1.25 ),
	// delta: ( size: 1.75rem, height: 1.5 ),
	// epsilon: ( size: 1.25rem, height: 1.5 ),
	// zeta: ( size: 2rem, height: 1.75 ),
	// eta: ( size: 0.75rem, height: 1.75 ),
	// micro: ( size: 0.5rem, height: 1.75 ),
);

$block-background: rgba( 255, 255, 255, 0.5 );
$block-background: #ffffff;

// z-index layer positions
$layer: (
	base: 1,
	showcase_nav: 50,
	infinite_footer: 50,
	menu_dropdown: 100,
	top: 100000
);
