
.page-home {

	.home-header {

		margin-bottom: $grid-line-height * 5;
		position: relative;
		display: flex;
		align-items: stretch;

		.wrap {

			max-width: $grid-total-width / 2;
			width: 100%;

		}

	}

	.masthead {

		padding: ( $grid-line-height * 3 ) ( 0 );
		margin: 0;
		width: 50%;

		.wrap {

			float: right;
			padding: 0 ( $grid-gutter );

		}

		.site-description,
		.site-title {

			@include modular-scale( gamma );
			color: $body-header-color;
			float: none;
			margin: 0;
			padding: 0;
			line-height: 1.5;

			span {

				display: block;

			}

		}

		.site-title {

			font-weight: bold;

			svg {

				margin-bottom: $grid-line-height * 4;
				width: 8rem;
				height: 8rem;

			}

		}

		.site-description {

			margin-bottom: $grid-line-height;

		}

		.intro {

			@include modular-scale( epsilon );
			font-weight: 300;

		}

	}

	.themes {

		padding-top: $grid-line-height * 4;

		h2 {

			text-align: center;
			margin-bottom: $grid-line-height * 3;
			font-weight: bold;
			padding: 0 ( $grid-gutter / 2 );

		}

		.button.fat {

			max-width: 15rem;
			margin: ( $grid-line-height * -6 ) auto ( $grid-line-height * 6 ) auto;
			display: block;

		}

	}

	section.intro {

		text-align: center;
		@include modular-scale( delta );

	}

	.tiles {

		padding: ( $grid-line-height * 3 ) ( $grid-gutter );
		margin: 0;
		width: 50%;
		position: relative;

		a {

			display: block;
			width: $grid-gutter * 5;
			background: $canvas-white;
			position: absolute;
			@include transition-easeOutBack( all, 0.75s );
			transform: rotateX( 65deg ) rotateZ( -45deg );
			box-shadow: -2rem 2rem 2rem rgba( 0, 0, 0, 0.2 );

			img {

				display: block;

			}

			span {

				color: $canvas-grey-100;
				position: absolute;
				top: 110%;
				opacity: 0;
				padding-top: $grid-line-height / 4;
				left: 0;
				right: 0;
				font-weight: bold;
				text-align: center;
				//@include transition( all 0.75s ease-in-out );
				@include transition;

			}

			&:hover {

				@include transition-easeInBack( all, 0.75s );
				transform: rotateX( 0 ) rotateZ( 0 );
				z-index: 10;
				box-shadow: 0 0 0 rgba( 0, 0, 0, 0 );

				span {

					opacity: 1;
					top: 100%;
					//@include transition( all 0.75s ease-in-out );
					//transition-delay: 20s;
					@include transition;

				}

			}

			&:nth-child(1) {

				top: 25%;
				left: 0;

			}

			&:nth-child(2) {

				top: 5%;
				left: 40%;

			}

			&:nth-child(3) {

				top: 35%;
				left: 65%;

			}

			&:nth-child(4) {

				top: 50%;
				left: 15%;

			}

			&:nth-child(5) {

				top: 75%;
				left: 50%;

			}

		}

	}

}

@media only screen and (max-width: $grid-total-width) {

	.page-home {

		.masthead {

			padding: ( $grid-line-height * 2 ) ( $grid-gutter );

		}

	}

}
