
.page-home {

	.home-header {

		margin-bottom: $grid-line-height * 3;
		position: relative;
		display: flex;
		align-items: stretch;

		.wrap {

			max-width: $grid-total-width / 2;
			width: 100%;

		}

	}

	.masthead {

		padding: ( $grid-line-height * 3 ) ( 0 );
		margin: 0;
		width: 50%;

		.wrap {

			float: right;
			padding: 0 ( $grid-gutter );

		}

		.site-description,
		.site-title {

			@include modular-scale( gamma );
			color: $body-header-color;
			float: none;
			margin: 0;
			padding: 0;
			line-height: 1.5;

			span {

				display: block;

			}

		}

		.site-title {

			font-weight: bold;

			svg {

				margin-bottom: $grid-line-height * 4;
				width: 8rem;
				height: 8rem;

			}

		}

		.site-description {

			margin-bottom: $grid-line-height;

		}

	}

	.themes {

		padding-top: $grid-line-height * 4;

		h2 {

			text-align: center;
			margin-bottom: $grid-line-height * 3;
			font-weight: bold;
			padding: 0 ( $grid-gutter / 2 );

		}

		.button.fat {

			max-width: 15rem;
			margin: ( $grid-line-height * -6 ) auto ( $grid-line-height * 6 ) auto;
			display: block;

		}

	}

	section.intro {

		text-align: center;
		@include modular-scale( delta );

		&:before,
		&:after {

			@include separator;

		}

	}

	.tiles {

		padding: ( $grid-line-height * 3 ) ( $grid-gutter );
		margin: 0;
		width: 50%;
		position: relative;

		a {

			display: block;
			width: $grid-gutter * 6;
			position: absolute;
			@include transition-easeInOutBack( all, 0.75s );
			transform: rotateX( 65deg ) rotateZ( -45deg ) scale( 0.8 );
			box-shadow: -2rem 2rem 4rem rgba( 0, 0, 0, 0.2 );

			img {

				display: block;

			}

			span {

				color: $canvas-grey-100;
				position: absolute;
				top: 110%;
				opacity: 0;
				padding-top: $grid-line-height / 4;
				left: 0;
				right: 0;
				font-weight: bold;
				text-align: center;
				@include transition( all 0.15s ease-in-out );

			}

			&:hover {

				@include transition-easeInOutBack( all, 0.75s );
				transform: rotateX( 0 ) rotateZ( 0 ) scale( 1 );
				z-index: 10;
				box-shadow: 0 0 0 rgba( 0, 0, 0, 0 );

				span {

					opacity: 1;
					top: 100%;
					@include transition( all 1s ease-in-out );

				}

			}

			&:nth-child(1) {

				top: 10%;
				left: 0;

			}

			&:nth-child(2) {

				top: -2%;
				left: 27%;

			}

			&:nth-child(3) {

				top: 38%;
				left: 10%;

			}

			&:nth-child(4) {

				top: 26%;
				left: 36%;

			}

			&:nth-child(5) {

				top: 14%;
				left: 63%;

			}

			&:nth-child(6) {

				top: 54%;
				left: 46%;

			}

			&:nth-child(7) {

				top: 42%;
				left: 72%;

			}

		}

	}

}

@media only screen and (max-width: $grid-total-width) {

	.page-home {

		.masthead {

			padding: ( $grid-line-height * 2 ) ( $grid-gutter );

		}

	}

}


@media only screen and (max-width: $responsive-tablet) {

	.page-home {

		.home-header {

			flex-direction: column;

		}

		.masthead,
		.tiles {

			width: 100%;
			padding-left: 0;
			padding-right: 0;

			.wrap {

				max-width: 100%;

			}

		}

		.tiles {

			height: $grid-line-height * 20;
			margin-bottom: $grid-line-height * 4;

		}

		.masthead {

			.site-description,
			.site-title {

				@include modular-scale( delta );

			}

		}

	}

}


@media only screen and (max-width: $responsive-mobile) {

	.page-home {

		.tiles {

			display: none;

		}

	}

}
