.page-support {

	.column {

		width: 50%;
		float: left;

		h2 {

			a {

				color: $body-header-color;

				&:hover {

					text-decoration: none;

					small {

						text-decoration: underline;

					}

				}

				small {

					color: $link-color;
					float: right;

				}

			}

		}

	}

	.plugin-image {

		display: block;

		img {

			display: block;
			margin: ( $grid-line-height * 2 ) auto;

		}

	}

}

@media only screen and (max-width: $responsive-tablet ) {

	.page-support {

		.column {

			width: 100%;

		}

	}

}
