.page-theme {

	.theme-header {

		margin-bottom: $grid-line-height * 3;
		padding-bottom: $grid-line-height * 1.5;

		.theme-title {

			margin: ( $grid-line-height * 5 ) 0 ( $grid-line-height * 2 ) 0;

			h1 {

				font-weight: bold;
				text-align: center;
				padding: 0 ( $grid-gutter );
				margin: 0;

			}

			p {

				@include post-meta-data;
				text-align: center;

			}
		}

		&.theme-dark {

			h1,
			p,
			.button.ghost,
			.block .content h1,
			.block,
			.masthead .main-menu li a,
			.masthead .site-title .ptd-logo {

				color: $canvas-white;

			}

			.separator:before {

				background: $canvas-white;

			}

		}

	}

}
