body {
    background: @canvas-background-color;
    .modular-scale( @zeta );
    letter-spacing:0.05em;
    opacity:1;
}

a {
    color:@canvas-color;
    text-decoration:none;

    &:hover {
        text-decoration:underline;
    }
}

.masthead {
    background:url( ../../img/website/bg_top.png ) @canvas-light fixed;
    background:@canvas-white;
    text-align:center;
    color:@canvas-grey-50;
    margin-bottom:@grid-line-height * 4;
    border-bottom:0.1em solid @canvas-grey-30;


    button {
        display:none;
        background:transparent;
        border:0;
        width:100%;
        padding:(@grid-gutter / 2) (@grid-gutter);

        &:before {
            font-family:'FontAwesome';
            content:'\f0c9';
            margin-right:0.2em;
        }
    }

    .wrapper {
        padding:(@grid-line-height * 3) (@grid-line-height);
        margin:0 auto;
    }

    a {
        text-decoration:none;
    }

    .site-title {
        .modular-scale( @mega );
        margin:0 0 (@grid-line-height / 2) 0;
        letter-spacing:-0.02em;
        font-weight:bold;

        a {
            color:@canvas-grey-100;
        }
    }

    .site-description {
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    p {
        .modular-scale( @delta );
        margin:0;
        color:@canvas-grey-60;

        strong {
            color:@canvas-grey-90;
            font-weight:normal;
        }
    }

}

.theme-wrapper {
    padding:0;
}

nav.main-menu {

    a {
        color:@canvas-grey-60;
        padding:(@grid-line-height) (@grid-gutter);
        display:block;

        &:hover {
            color:@canvas-grey-90;
            text-decoration:underline;
        }
    }

    ul {
        margin:0;
        padding:0;
        width:100%;
    }

    li {
        list-style-type:none;
        display:inline-block;
        padding:0;
        .modular-scale( @zeta );

        li {
            display:none;
        }
    }

    .menu-display & {
        left:0;
        .box-shadow( 0 0 60px rgba(0,0,0,0.7) );
        .transition-easeInQuad( all, 0.25s );
    }

}

.drawer-search {

    .search-display & {
        left:0;
        .box-shadow( 0 0 60px rgba(0,0,0,0.7) );
        .transition-easeInQuad( all, 0.25s );
    }

}

#footer {
    background: @block-background;
    padding:(@grid-line-height * 3) 0;

    .wrapper {
        margin-bottom:0;

        p {
            &:last-child {
                margin:0;
            }
        }
    }

    .map {
        background: url( ../../img/website/map-2.png ) no-repeat center -50px;
        height:670px;
        position:relative;
    }

    h4 {
        font-weight:900;
        .modular-scale( @beta );
    }

    .avatar {
        border-radius:100px;
        width:75px;
        height:75px;
        border:6px solid @canvas-background-color;
        position:absolute;
        left:-90px;
    }

    .blurb {
        width:300px;
        position:absolute;

        &.blurb-darren {
            left:28%;
            top:242px;
            width:200px;
        }

        &.blurb-ben {
            left:52%;
            top:168px;
        }

        h5 {
            .modular-scale( @epsilon );
            margin:0;
        }

        p {
            margin-bottom:@grid-line-height / 2;
        }

        .location {
            text-transform:uppercase;
            letter-spacing:0.05em;
            margin-bottom:@grid-line-height / 2;
            color:@canvas-grey-80;
        }
    }

    .link {
        display:block;
        margin-bottom:@grid-line-height / 2;
    }

    .footnote {
        p {
            text-align:center;

            .sep {
                opacity:0.2;
                margin:0 10px;
            }
        }
    }

    .fa {
        margin-right:0.5em;
    }

    .origin {
        margin-bottom:@grid-line-height * 2;

        h4 {
            max-width:26em;
        }

        h5 {
            color:@canvas-grey-80;
        }
    }
}

.newsletter {
    padding-left:120px;
    width:100%;
    max-width:700px;
    background:url( ../../img/website/newsletter-envelope.png) no-repeat left top;
    background-size:100px 94px;
    position:relative;
    margin:0 auto (@grid-line-height * 6) auto;

    h2 {
        .modular-scale( @gamma );
        margin:0;
    }

    input.email {
        width:100%;
        margin:0;
    }

    .button {
        position:absolute;
        bottom:6px;
        right:6px;
        margin:0;
    }

    .modal & {
        h2 {
            color:@canvas-grey-90;
        }

        margin:0;
    }
}

.showcase-website {
    img {
        display:block;
    }

    a.image {
        position:relative;
        margin-bottom:(@grid-line-height / 2);

        &:after {
            content:'\f06e';
            font-family: 'FontAwesome';
            background:rgba(0,0,0,0.3);
            position:absolute;
            top:0;
            bottom:0;
            right:0;
            left:0;
            text-align:center;
            .modular-scale( @giga );
            padding-top:27%;
            color:@canvas-white;
            border-radius:@border-radius;
            opacity:0;
            .transition;
        }

        &:hover {
            &:after {
                opacity:1;
            }
        }
    }
}

.showcase-wrapper {
    margin-bottom:0;
}

.theme-modal {
    .note {
        margin-bottom:@grid-line-height;
        position:relative;

        &:last-of-type {
            margin:0;
        }
    }
}

form {
    &.searchform {
        position:relative;

        .text {
            width:100%;
            padding-right:(@grid-gutter * 5);
        }

        .button {
            position:absolute;
            top:@grid-line-height / 3;
            right:@grid-gutter / 3;
        }
    }
}

.price {
    display:none;
}
