
@media only screen and (max-width: 749px) {

    html {
        font-size:((@font-size * 0.9) * 1%);
    }

    nav.main-menu {
        a {
            padding:(@grid-line-height) (@grid-gutter / 2);
        }
    }

    .page-404 .masthead,
    .page-home .masthead,
    .masthead {
        .site-title {
            .modular-scale( @alpha );
        }

        p {
            .modular-scale( @epsilon );
        }
        .social {
            right:@grid-gutter;
        }

        .utils {
            left:@grid-gutter;
        }
    }

    #footer {
        .map {
            height:auto;
            background-size:100%;
            background-position:center top;
        }

        .blurb {
            position:relative;
            margin-left:100px;
            margin-bottom:@grid-line-height * 2;

            &.blurb-ben,
            &.blurb-darren {
                left:auto;
                top:0;
                width:auto;
            }
        }
    }

}


@media only screen and (max-width: 499px) {

    html {
        font-size:((@font-size * 0.85) * 1%);
    }

    .newsletter {
        padding-left:0;
        background:transparent;
    }

}


@media print {



}
