.page-contact {

    .contact-selection {
        .transition;
        overflow:hidden;

        a {
            background:rgba(0,0,0,0.3);
            border-radius: @border-radius;
            display:block;
            padding:(@grid-line-height / 2) (@grid-gutter / 2);
            margin-bottom:@grid-line-height;
            line-height:@grid-line-height;

            .fa {
                float:right;
                color:@canvas-white;
            }
        }

        &.hidden {
            height:0;
            opacity:0;
        }
    }

    form.formspree {
        opacity:0;
        .transition;
        height:0;
        visibility:hidden;

        &.display {
            visibility:visible;
            height:auto;
            opacity:1;
        }
    }

}
