.page-support {

    .column {
        width:50%;
        float:left;

        h2 {

            a {
                color:@canvas-white;

                &:hover {
                    text-decoration:none;

                    small {
                        text-decoration:underline;
                    }
                }

                small {
                    color:@canvas-color;
                    float:right;
                }
            }
        }
    }

}
