.ptd-logo {

 	polygon, rect {

		&:nth-child(4),
		&:nth-child(1) {
			color: $canvas-grey-40;
		}
		&:nth-child(9),
		&:nth-child(7),
		&:nth-child(5),
		&:nth-child(2) {
			color: $canvas-grey-60;
		}
		&:nth-child(8),
		&:nth-child(6),
		&:nth-child(3) {
			color: $canvas-grey-100;
		}

	}

}
