        <input type="hidden" name="questionnaire-name" value="buying-decisions" />

        <label>
            <span class="question">What is the main thing you look for when buying a theme?</span>
            <textarea name="main-thing-looking-for-when-buying" rows="3" required class="small"></textarea>
        </label>

        <label>
            <span class="question">Why would you buy a theme rather than making your own?</span>
            <textarea name="why-buy-rather-than-make" rows="3" required class="small"></textarea>
        </label>

        <label>
            <span class="question">What would you like to see included in WordPress themes that would make your life easier?</span>
            <textarea name="message" rows="3" required class="small"></textarea>
        </label>
